language: node_js
node_js:
  - "node"
env:
- NODE_ENV=TEST

addons:
  code_climate:
    repo_token: ecfa4f4d5baee462775d9f7444d11e5d72a7758d4ae5cb239b8a29254e0f9e7c

services:
- mongodb

before_install:
 - sleep 15
 - mongo mydb_test --eval 'db.addUser("travis", "test");'
 - npm install --development

after_script:
  - npm run test-coverage
  - codeclimate-test-reporter < lcov.info
