language: node_js
node_js:
  - "node"
env:
- NODE_ENV=TEST
services:
- mongodb

before_install:
 - sleep 15
 - mongo mydb_test --eval 'db.addUser("travis", "test");'
 - npm install --development

after_success:
  - bash <(curl -s https://codecov.io/bash)
